* {
    font-size: 16px;
}

[v-cloak] {
    display: none !important;
}

.culoare1 {
    color: white;
    background-color: #ec8575 !important;
}

.culoare1-border {
    border-color: #ec8575 !important;
}

/* .culoare2 {
    color: white;
    background-color: #d85c27; */
/* } */
.culoare2 {
    color: white;
    background-color: #6a6ba0 !important;
}

.culoare3 {
    color: white;
    background-color: #141850 !important;
}

.culoare4 {
    color: white;
    background-color: #f5cac2 !important;
}


/* For navlinks buttons */
.nav-link {
    color: white;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
.nav-link.active {
    color: white !important;
    box-shadow: 0 1px 0px rgba(255, 255, 255, 1);
        /* A subtle inner shadow */
        border-radius: 5px;
}
.nav-link.dropdown-toggle:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.preserve-newlines {
    white-space: pre-wrap; /* preserves whitespace and wraps text */
}
